body {
	width: 100%;
	min-height: 100%;
}
.navbar {
	font-size: 1.3em;
	border: none;
	color: white;
    background-color: #000;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: white;
    text-align: center;
}