body {
	width: 100%;
	min-height: 100%;
}
.navbar {
	font-size: 1.3em;
	border: none;
	color: white;
    background-color: #000;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: white;
    text-align: center;
}

.table > th, td {
    padding: 8px;
    border: none;
}

.title {
	text-align: center;
	text-transform: uppercase;
}

.description {
	text-align: left;
	font-weight: 1.2em;
}

.date {
	text-align: right;
}

.butt {
	margin: auto;
}