body {
	font-family: "Open Sans", sans-serif;
	line-height: 1.25;
	width: 100%;
	min-height: 100%;
}

.navbar {
	font-size: 1.3em;
	border: none;
	color: white;
    background-color: #000;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: white;
    text-align: center;
}

.table {
	border: none;
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%
}

.table tr {
	border: 1px solid #ddd;
	padding: .35em;
}

.table tr:nth-child(even) {
	background: #f8f8f8;
}

.table th {
	background: #999;
	color: #fff;
	font-size: 1.2em;
	letter-spacing: .1em;
	text-transform: uppercase;
}

.table td {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.table > th, td {
    padding: 8px;
    border: none;
}

.title {
	text-align: center;
	text-transform: uppercase;
}

.description {
	text-align: left;
	font-weight: 1.2em;
}

.date {
	text-align: right;
}

.butt {
	display: inline-block;
	margin-right: 15px;
}

.new {
	width: 50%;
}

.color {
	background-color: #F0F3F4;
}